{% extends "app/layout.html" %}

{% block content %}
<!--
<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>
    -->
<div class="container">
    <!-- section title -->
    <div class="container pb-3">
		<div class="title text-center wow fadeIn" data-wow-duration="1500ms" >
						<h2>About <span class="color">Me</span></h2>
						<div class="border"></div>
	     </div>
        </div>
					<!-- /section title -->
          <div class="row">
					<!-- About item -->
					<div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms" >
						<div class="wrap-about">							
							<div class="icon-box">
								<i class="fa fa-user-o fa-4x"></i> 
							</div>					
							<!-- Express About Yourself -->
							<div class="about-content text-center">
								<h3 class="ddd">Who am I ?</h3>								
								<p style="text-align:left">My name is <strong>BHUSHAN PAWAR</strong>.I live in <strong>Fresno,California</strong> but I call many places as Home .I am an Experienced Software Developer with a demonstrated history of working in the information technology and services industry in <strong>Cognizant Technolgy Solutions</strong>. I'm presently expanding my solid experience in <strong>Web Development</strong> and <strong>REST API's</strong>.<br><br>As an individual, I'm self-confident you will find me creative, funny and naturally passionate. I'm a forward thinker, which others may find inspiring when working as a team.</p>
							</div>
						</div>
					</div> 
					<!-- End About item -->
					
					<!-- About item -->
					<div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="250ms">
						<div class="wrap-about">
							<div class="icon-box">
								<i class="fa fa-university fa-4x"></i>
							</div>
							<!-- Express About Yourself -->
							<div class="about-content text-center">
								<h3>What I do and my Objective?</h3>
								<p style="text-align:left">
                                I am currently a graduate student at California State University,Fresno with major in Computer Science .I am also working on research project on Data minning using Gmail Labels.<br><br>
                                My ultimate aim is to pursue a challenging career and be a part of progressive organization that gives a scope to enhance my knowledge and utilizing my skills towards the growth of the organization</p>
                            </div>
						</div>
					</div> 
					<!-- End About item -->
					
					<!-- About item -->					
					<div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="500ms">
						<div class="wrap-about kill-margin-bottom">
							<div class="icon-box">
								<i class="fa fa-thumbs-up fa-4x"></i>
							</div>
							<!-- Express About Yourself -->
							<div class="about-content text-center">
								<h3>My Area of Interests</h3>
								<p align="center" style="font-size:20px;text-align:left;padding-left:50px">
									<!-- About item -->
					                  1.Web Development <br>
                                      2.Front-End Development<br> 
                                      3.Java  Developemnt<br>
                                      4.Parallel Programming<br>
                                      5.REST API<br>
                                      6.Database Managment Systems<br>                    
                                </p>
							</div>
						</div>
					</div> 
					<!-- End About item -->
	     </div> <!-- End row -->
</div>
{% endblock %}
