<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Welcome TO instagram Analytics</title>
    {% load staticfiles %}
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/mdb.min.css' %}" />
   <!-- <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" type="text/css" href="{% static 'app/content/all.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'app/content/font-awesome.css' %}" />
</head>

<body>
   <div class="conatiner-fluid pb-2" >
    <!--Main Navigation-->

    <nav class="navbar  navbar-expand-lg navbar-dark scrolling-navbar default-color">
        <a class="navbar-brand" href="{% url 'home' %}"><strong>InstaAnalytics</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="{% url 'home' %}"><i class="fa fa-home"></i> Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'SocialLogin' %}"><i class="fa fa-tachometer"></i> DashBoard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Search' %}"><i class="fa fa-search"></i> Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}"><i class="fa fa-info"> </i> About </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}"><i class="fa fa-address-card-o"></i> Contact</a>
                </li>
            </ul>
            <!--<ul class="navbar-nav nav-flex-icons">
                <li class="nav-item">
                    <a class="nav-link"><i class="fa fa-facebook"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"><i class="fa fa-twitter"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"><i class="fa fa-instagram"></i></a>
                </li>
            </ul>
                
            <ul class="navbar-nav nav-flex-icons">
                <li class="nav-item">
                    <a class="nav-link" href=""><i class="fa fa-sign-in"></i> Login </a>
                </li>
            </ul>
                -->

            {% include 'app/loginpartial.html' %}
        </div>
    </nav>
<!--Main Navigation-->
</div>

    <div class="conatiner-fluid body-content">
{% block content %}
{% endblock %}
        <hr/>
        <footer>
            <p align="center">&copy; {{ year }} - Design and Developed by Bhushan Pawar</p>
        </footer>
    </div>

    <script src="{% static 'app/scripts/jquery-3.3.1.min.js' %}"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="{% static 'app/scripts/bootstrap.min.js' %}"></script>
    <script src="{% static 'app/scripts/mdb.min.js' %}"></script>
    <script src="{% static 'app/scripts/Chart.bundle.min.js' %}"></script>

{% block scripts %}
    
    
{% endblock %}

</body>
</html>
